<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="#" onClick="window.location.assign(window.location.href.split('testng-reports-with-handlebars')[0]);">
      Go back!
    </a>
  </li>
  <li id="allFeatures" role="presentation" class="">
    <a href="testsByClassOverview.html">Tests by class overview report</a>
  </li>
  <li id="summaryFeature" role="presentation" class="">
    <a href="#">Test Case report: </a>
  </li>
</ul>
